@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
    background-color: #1b1b1b;
    color: #e0e0e0;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}


header, footer {
    background-color: #2a2a2a;
    padding: 15px;
    width: 98%;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 2px solid #444;
    text-align: center;
}

nav {
    background-color: #3b3b3b;
    padding: 10px;
    border-right: 2px solid #444;
    width: 98.5%;
    opacity: 85%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 5px;
    border-bottom: 1px solid #444;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff9900;
}

main {
    padding: 10px;
    flex: 1;
    width: 75%;
}

table {
    border: 2px solid #444;
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
}

th {
    color: #ffffff;
    background-color: #333333;
    text-transform: uppercase;
}

input[type=text] {
    padding: 5px;
    width: 250px;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #555;
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-size: 16px;
}

.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
    background-color: #0c0c0c;
    border: 1px solid #444;
    color: #ffffff;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

tr:hover {
    background-color: #2a2a2a;
}

p{
    margin-left: 5px;
}

h1 {
    margin-left: 5px;
}

iframe {
    margin-left: 5px;
}





