{% extends "base.html" %}

{% block content %}
<h1>Welcome to CS Stats</h1>
<p>CS Stats allows you to dynamically view the stats of 500 professional Counter-Strike players</p>
<p>In case your unaware of the professional Counter-Strike scene, here's a video by the creator Esports Talk to explain</p>
<ul>
   <li><iframe width="700" height="500" src="https://www.youtube.com/embed/bMv02RJzCmw" allowfullscreen></iframe></li>
</ul>
    <style>
body {
  background-image: url('../static/X2dTpe.jpg');
    background-size: 100%
}
</style>

{% endblock %}