{% extends "base.html" %}

{% block content %}

<h1>Top Players</h1>

{% if data %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Teams Played In</th>
                    <th>Country of Origin</th>
                    <th>Pro Rating</th>
                    <th>KD Ratio</th>
                    <th>Headshot %</th>
                    <th>Total Kills</th>
                </tr>
            </thead>
            <tbody id="TopPlayerStatsTable">
                {% for row in data %}
                <tr>
                    <td>{{ row[5] }}</td>  {# Assuming row[5] corresponds to player_name #}
                    <td>{{ row[3] }}</td>  {# teams_played_in #}
                    <td>{{ row[4] }}</td>  {# country #}
                    <td>{{ row[0] }}</td>  {# rating #}
                    <td>{{ row[2] }}</td>  {# kd_ratio #}
                    <td>{{ row[1] }}</td>  {# headshot_percentage #}
                    <td>{{ row[6] }}</td>  {# total_kills #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>No results found.</p>
{% endif %}

{% endblock %}
