{% extends "base.html" %}

{% block content %}

<h1>Player Stats - {{column_header}} </h1>
<h4>Click on Numeric Column Headers to Filter Top Players</h4>
{% if no_results %}
    <p>No results found.</p>
{% else %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Teams Played In</th>
                    <th>Country of Origin</th>
                    <th><a href="{{ url_for('render_top_players_by_rating_page', rating=1) }}">Top 10 by Rating</a></th>
                    <th><a href="{{ url_for('render_top_players_by_kd_page', kd=1) }}">Top 10 by KD Ratio</a></th>
                    <th><a href="{{ url_for('render_top_players_by_headshot_percentage_page', headshot=1) }}">Top 10 by Headshot Percentage</a></th>
                    <th><a href="{{ url_for('render_top_players_by_total_kills_page', total_kills=1) }}">Top 10 by Total Kills</a></th>
                </tr>
            </thead>
            <tbody id="playerStatsTable">
                {% for row in data %}
                <tr>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
